@model ProductsIndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Alle producten";
}

<div class="row py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto text-center">
        <h1 class="fw-light">Producten</h1>
        <h1>
            <a asp-controller="Product" asp-action="Create"
               class="btn btn-outline-primary">Aanmaken</a>
            <a asp-controller="Product" asp-action="ShowDeleted"
               class="btn btn-outline-primary">Verwijderde producten</a>
        </h1>
    </div>
</div>
<section class="py-3 container">
    <partial name="ShowProductsPartial" model="@Model" />
</section>