@{
    ViewData["Title"] = "Welkom";
}

<section class="py-3 text-center container">
    <div class="row" style="margin-top:20px">
        <div class="mx-auto" style="background-color: #5491cd; height: 70vh;">
            <div style="margin-top:14%">
                <h1 class="fw-bolder" style="font-size: 60px; color:white;"><strong>Welkom</strong></h1>
                <p class="fw-light" style="font-size: 25px; color:white;">
                    Op onze webshop verkopen wij producten die onze studenten uit alle opleidingsvormen aanbieden.
                </p>
                <a type="button" class="btn btn-warning" asp-controller="Shop" asp-area="Shop" asp-action="Index">Winkelen</a>
            </div>
        </div>
    </div>
</section>