
@{
    Layout = "_Layout";
    ViewData["Title"] = "Bestelling afgerond";
}

<section class="py-3 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Work in progress</h1>
            <p class="lead text-muted">Deze pagina moet nog aangepast worden.</p>
        </div>
    </div>
</section>
